.messagesContainer {
  height: 92%;
  width: 88%;
  overflow: hidden;
  border: 1px solid rgba(37, 158, 102, 0.3);
}
.messagesDisplay {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.messageInput {
  height: 10%;
  width: 98%;
  font-size: 20px;
  color: white;
  padding-left: 2%;
  background-color: rgb(54, 54, 54);
  border: 1px solid rgba(37, 158, 102, 0.3);
  outline: none;
}
.chats {
  list-style-type: none;
  font-size: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px 0px;
}
.chats img {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0% 2%;
  overflow: hidden;
}
