.profileOuter {
  height: 100vh;
  width: 75vw;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.profileCard {
  height: 100%;
  width: 25%;
  border-left: 1px solid rgb(97, 97, 97, 0.2);
  /* border-right: 1px solid rgba(97, 97, 97, 0.4);
  box-shadow: 6px -2px 35px -13px rgba(0, 128, 0, 1); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImageContainer {
  height: 23vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 0px;
}
.profileImage {
  width: 90%;
  border-radius: 20%;
  border: 1px solid rgba(97, 97, 97, 0.2);
  box-shadow: 10px 6px 35px -22px rgba(97, 97, 97, 1);
  overflow: hidden;
}
.profileImageDefault {
  width: 55%;
  overflow: hidden;
}
.profileName {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 32px;
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 6px;
}
#imageUploader {
  position: absolute !important;
  top: 62px !important;
  width: 2% !important;
  height: 1px !important;
  border: 2px none rgb(153, 153, 153) !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  overflow: hidden !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 7.5% !important;
}
.rdsu-image {
  position: absolute;
  top: 24px;
  left: -4px;
  height: 230px;
  width: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 20%;
  border: 1px solid rgba(97, 97, 97, 0.2);
  box-shadow: 10px 6px 35px -22px rgba(97, 97, 97, 1);
  background-size: contain;
}
.rdsu-image img {
  background-size: contain;
}
.profileCardText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}
#helpUploadText {
  color: #8b8b8b;
  font-size: 12px;
  position: relative;
  top: 0;
}

.editProfileLink {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #259e66;
  font-weight: 700;
  cursor: pointer;
}
.profileUserData {
  border: 1px rgba(139, 139, 139, 0.4) solid;
  width: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}
.profileInfo {
  height: 100%;
  width: 80%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
}
.shortHistory {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 6px -2px 35px -13px rgba(0, 0, 128, 1);
  /* border: 1px blue solid; */
}
.shTitle {
  font-size: 17px;
  margin: 25px;
  letter-spacing: 1px;
  overflow: hidden;
  font-weight: 600;
}
.displaySH,
.displayR {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.defaultMessage {
  color: white;
}
.shortReviews {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  overflow: hidden;
  /* border: 1px yellow solid; */
}
.badgeContainer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 20px;
  font-family: "Scada", sans-serif;
  font-weight: 500;
  margin-top: 20px;
  overflow: hidden;
  padding-left: 2%;
  /* border: 1px orange solid; */
}
.profileBadge {
  width: 7%;
  height: 75%;
  margin-left: 16%;
  font-weight: 600;
}
@media (max-width: 1762px) {
  .shortHistory {
    height: 42%;
  }
  .profileBadge {
    width: 8%;
  }
}

@media (max-width: 1606px) {
  .profileOuter {
    width: 90vw;
  }
}
@media (max-width: 1500px) {
  .profileOuter {
    width: 96vw;
  }
}
@media (max-width: 1100px) {
  .badgeContainer {
    color: rgb(24, 24, 24);
  }
  .profileBadge {
    width: 5%;
    height: 43%;
    margin-left: 1%;
    position: relative;
    left: -10%;
  }
  .displaySH,
  .displayR {
    height: 73%;
    flex-wrap: wrap;
  }
  .shTitle {
    margin-left: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .reviewsContainer {
    width: 19vw;
  }
  .logo {
    margin: 0px 0px 0px 2px;
    height: 66%;
  }
}
@media (max-width: 950px) {
  .profileCard {
    width: 35%;
  }
  .reviewsContainer {
    width: 25vw;
  }
  .profileBadge {
    width: 6%;
    height: 44%;
  }
}
@media (max-width: 900px) {
  .profileCard {
    width: 40%;
  }
  .profileBadge {
    width: 7%;
  }
}
@media (max-width: 800px) {
  .profileBadge {
    width: 10%;
  }
  .profileCard {
    width: 50%;
  }
  .reviewsContainer {
    width: 38vw;
  }
}
@media (max-width: 500px) {
  .profileBadge {
    width: 15%;
  }
}
