.phCard {
  font-family: "Open Sans Condensed", sans-serif;
  height: 30vh;
  margin: 10px 0px;
  width: 15vw;
  margin: 2px 25px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  box-shadow: 6px -2px 35px -16px rgba(38, 169, 108, 0.6);
  border-top: 1px solid rgba(38, 169, 108, 0.6);
  transition: 0.6s;
  overflow: hidden;
}

.phCard:hover {
  box-shadow: 6px -2px 35px -7px rgba(38, 169, 108, 1);
  border-top: 1px solid rgba(38, 169, 108, 1);
}

.phTitle {
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 2px;
  overflow: hidden;
}
.phInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.phInfo {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 5px 0px;
  overflow: hidden;
}
.phReviewButton {
  width: 50%;
  height: 10%;
  border: 1px solid rgb(38, 169, 108);
  background-color: rgb(38, 38, 38);
  color: rgb(38, 169, 108);
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}
.phReviewButton:hover {
  outline: none;
  background-color: rgb(255, 255, 255);
}
.phReviewButton:focus {
  outline: none;
}

@media (max-width: 1762px) {
  .phTitle {
    font-size: 1.4em;
  }
}

@media (max-width: 1682px) {
  .phTitle {
    font-size: 1.3em;
  }
}
@media (max-width: 1380px) {
  .phTitle {
    font-size: 1.3em;
  }
  .phReviewButton {
    height: 15%;
    text-align: center;
  }
}
@media (max-width: 1280px) {
  .phCard {
    height: 30vh;
    margin-bottom: 0px;
  }
  .phInfo {
    font-size: 13px;
  }
  .phReviewButton {
    height: 12%;
    width: 45%;
    font-size: 14px;
  }
}
@media (max-width: 1252px) {
  .phTitle {
    font-size: 1.2em;
  }
}
@media (max-width: 1190px) {
  .phTitle {
    font-size: 1.1em;
  }
}
@media (max-width: 1130px) {
  .phTitle {
    font-size: 1em;
  }
}
@media (max-width: 1100px) {
  .phCard {
    width: 19vw;
  }
}

@media (max-width: 950px) {
  .phCard {
    width: 25vw;
  }
}

@media (max-width: 800px) {
  .phCard {
    width: 38vw;
  }
}
@media (max-width: 450px) {
  .phCard {
    width: 67vw;
    height: 38vh;
  }
}
