.titleOuter {
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(70deg, #779cab, #26a96c); */
  background-color: black;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.overlayContainer {
  height: 100%;
  width: 100%;
  position: relative;
}
.whiteOverlay {
  height: 100%;
  width: 100%;
  box-shadow: -11px -6px 83px -17px rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
  filter: invert(1%);
  position: absolute;
  z-index: 2;
}
.middlePicture {
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
}
.gopherIcon {
  height: 10%;
  width: auto;
  z-index: 3;
  position: absolute;
  bottom: 0;
  filter: invert(10%);
  right: 10px;
}
.learnMoreContainer {
  height: 100%;
  width: 2px;
  /* border: 1px rgb(255, 255, 255) solid; */
  z-index: 3;
  background-color: rgba(80, 80, 80, 0.6);
  position: absolute;
  top: 0;
  right: 24%;
  transition: 1s;
}
.learnMoreContainer:hover {
  background-color: #26a96c;
  cursor: pointer;
}
.lowerLearnMoreContainer {
  height: 8%;
  width: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  transition: 1s;
}
.lowerLearnMoreContainer:hover {
  height: 9%;
}
.exploreText {
  transform: rotate(90deg);
  color: white;
  position: absolute;
  bottom: 31px;
  right: 21.7%;
  z-index: 4;
  letter-spacing: 1px;
  font-family: "Scada", sans-serif;
  font-weight: 900;
}
.greenBlock {
  height: 3px;
  width: 50%;
  background-color: rgb(38, 169, 108);
  margin: 20px 0px 20px 45px;
}
.dashboardLinkContainer {
  position: absolute;
  top: 41%;
  right: 6%;
  height: 14%;
  width: 11%;
  z-index: 7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 1px white solid; */
}
.dashLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  overflow: hidden;
}
#send {
  text-align: left;
}
#deliver {
  text-align: right;
}
@media (max-width: 1600px) {
  .exploreText {
    right: 20.7%;
  }
}
@media (max-width: 1340px) {
  .exploreText {
    right: 20.3%;
  }
  .dashboardLinkContainer {
    right: 13%;
  }
  .greenBlock {
    width: 100%;
    margin: 20px 0px 20px 0px;
  }
  .middlePicture {
    width: 120%;
  }
  .whiteOverlay {
    width: 120%;
  }
  #deliver {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .whiteOverlay {
    height: 85%;
    top: 6%;
  }
  .middlePicture {
    height: 85%;
    top: 6%;
  }
}
@media (max-width: 1000px) {
  .exploreText {
    right: 19.3%;
  }
  .whiteOverlay {
    height: 70%;
    top: 15%;
  }
  .middlePicture {
    height: 70%;
    top: 15%;
  }
  .dashLink {
    font-size: 15px;
    font-weight: 600;
  }
  .dashboardLinkContainer {
    position: absolute;
    top: 45%;
  }
}

@media (max-width: 800px) {
  .exploreText {
    right: 17.3%;
  }
  .whiteOverlay {
    height: 60%;
    top: 20%;
  }
  .middlePicture {
    height: 60%;
    top: 20%;
  }
  .dashLink {
    font-size: 15px;
    font-weight: 600;
  }
  .dashboardLinkContainer {
    right: 4%;
    width: 20%;
  }
  .greenBlock {
    height: 2px;
  }
}
@media (max-width: 600px) {
  .exploreText {
    right: 16.3%;
  }
  .whiteOverlay {
    height: 50%;
    top: 23%;
  }
  .middlePicture {
    height: 50%;
    top: 23%;
  }
}
@media (max-width: 500px) {
  .exploreText {
    right: 13.3%;
  }
  .whiteOverlay {
    display: none;
  }
  .middlePicture {
    display: none;
  }
  .gopherIcon {
    height: 50%;
    bottom: 20%;
    right: 32%;
  }
  .dashLink {
    font-size: 13px;
  }
  #send {
    text-align: right;
  }
  #deliver {
    text-align: right;
  }
  .dashboardLinkContainer {
    top: 10%;
    width: 40%;
    right: 25%;
  }
}

@media (max-width: 350px) {
  .gopherIcon {
    height: 40%;
    bottom: 25%;
    right: 40%;
  }
  .exploreText {
    right: 12.3%;
  }
}
@media (max-width: 300px) {
  .gopherIcon {
    bottom: 25%;
    right: 30%;
  }
  .exploreText {
    right: 11.3%;
  }
}
@media (max-height: 800px) {
  .lowerLearnMoreContainer {
    height: 9%;
  }
}
@media (max-height: 700px) {
  .lowerLearnMoreContainer {
    height: 10%;
  }
}
@media (max-height: 600px) {
  .lowerLearnMoreContainer {
    height: 11%;
  }
}
@media (max-height: 550px) {
  .lowerLearnMoreContainer {
    height: 13%;
  }
  .dashboardLinkContainer {
    height: 20%;
  }
  .dashLink {
    font-size: 15px;
  }
}
@media (max-height: 450px) {
  .lowerLearnMoreContainer {
    height: 16%;
  }
}
@media (max-height: 350px) {
  .lowerLearnMoreContainer {
    height: 20%;
  }
  .dashboardLinkContainer {
    height: 22%;
  }
}
@media (max-height: 300px) {
  .dashboardLinkContainer {
    height: 31%;
  }
}
