.editOuter {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  position: relative;
  left: 0%;
}
.noDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -100%;
  height: 40vh;
  width: 100%;
  transition: 0.7s;
}
.sectionContainer {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.categorySelector {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.dobInput,
.emailInput,
.phoneInput,
.genderInput {
  background-color: rgb(54, 54, 54);
  height: 41%;
  width: 60%;
  margin-left: 15px;
  border: 1px solid rgb(33, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 14px;
  letter-spacing: 0.21px;
  text-align: start;
  outline: none;
  padding-left: 3%;
  font-weight: 600;
}
.submitButton {
  width: 50%;
  height: 10%;
  border: 1px solid rgba(38, 169, 108, 0.8);
  background-color: rgb(24, 24, 24);
  color: rgba(38, 169, 108, 0.8);
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2%;
}
