.infoClass {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  position: absolute;
  left: -28%;
  top: 43%;
}
.editOuter {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  position: relative;
  left: 0%;
  overflow: hidden;
}
.noDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -100%;
  height: 40vh;
  width: 100%;
  transition: 0.7s;
  overflow: hidden;
}
.sectionContainer {
  height: 20%;
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.categorySelector {
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.dobInput,
.emailInput,
.phoneInput,
.genderInput,
.nameInput {
  background-color: rgb(54, 54, 54);
  height: 41%;
  width: 60%;
  margin-left: 15px;
  border: 1px solid rgb(33, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 14px;
  letter-spacing: 0.21px;
  text-align: start;
  outline: none;
  padding-left: 3%;
  font-weight: 600;
}
.submitButton {
  width: 50%;
  height: 10%;
  border: 1px solid rgba(38, 169, 108, 0.8);
  background-color: rgb(24, 24, 24);
  color: rgba(38, 169, 108, 0.8);
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2%;
}
.submitButton:focus {
  outline: none;
  border: 1px solid rgba(38, 169, 108, 0.8);
  background-color: rgba(0, 128, 0, 0.9);
  font-weight: 400;
  color: rgb(0, 0, 0);
}
@media (max-width: 700px) {
  .categorySelector {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .noDisplay {
    left: 0;
    margin: 2% 0%;
  }
  .submitButton {
    height: 20%;
  }
}
@media (max-width: 1200px) {
  .noDisplay {
    height: 50vh;
  }
}
@media (max-height: 900px) {
  .noDisplay {
    height: 100vh;
  }
}
