.cardsExit {
  height: 39%;
  width: 0;
  top: 13%;
  left: 19%;
  border-left: 3px none rgba(38, 169, 108, 0.9);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: rgba(38, 38, 38, 0.9);
  -webkit-transition: 1s;
  transition: 1.5s;
  animation: toGreenBar 2s;
}
.cardsActive {
  height: 39%;
  width: 0;
  top: 13%;
  left: 19%;
  border-left: 3px none rgba(38, 169, 108, 0.9);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: rgba(38, 38, 38, 0.9);
  -webkit-transition: 1s;
  transition: ease-in-out 1.5s;
}
.hiddenActive {
  height: 0%;
  width: 0%;
  top: 81%;
  left: 50%;
  overflow: hidden;
  /* border-left: 7px solid rgba(38, 169, 108, 0.5); */
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  padding: 2px 0px;
  /* background-color: rgba(38, 38, 38, 0.9); */
  transition: ease-in-out 1.5s;
  transition-delay: 2s;
}
.activeRoute {
  height: 25%;
  width: 100%;
  top: 68%;
  left: 0;
  overflow: hidden;
  /* border-left: 7px solid rgba(38, 169, 108, 0.5); */
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  padding: 2px 0px;
  /* background-color: rgba(38, 38, 38, 0.9); */
  -webkit-transition: 1s;
  -webkit-transition: ease-in-out 1.5s;
  transition: ease-in-out 1.5s;
  transition-delay: 2s;
}

.activeDriverContainer {
  border: 2px rgba(37, 158, 102, 0.5) solid;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 40%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-family: "Scada", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 2px 0px 25px -10px rgba(255, 255, 255, 1);
  background-color: rgba(38, 38, 38, 0.9);
  transition: ease-in-out 1.5s;
  transition-delay: 5s;
}
.activeDriverContainer-left {
  border: 2px rgba(37, 158, 102, 0.5) solid;
  border-top: none;
  height: 100%;
  width: 20%;
  position: absolute;
  left: 1%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: 25px;
  font-family: "Scada", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10%;
  box-shadow: 2px 0px 25px -10px rgba(255, 255, 255, 1);
  background-color: rgba(38, 38, 38, 0.9);
  z-index:10;
  transition: ease-in-out 1.5s;
  transition-delay: 5s;
}
.activeDriverContainer-left p {
  font-size: 18px;
  overflow: hidden;
}
.timer {
  overflow: hidden !important;
}
.userIconActive {
  width: 30%;
  border-radius: 50%;
  border: 1px rgba(37, 158, 102, 0.2) solid;
}

#activeIcon {
  width: 11%;
  position: relative;
  top: 2%;
  left: -39%;
}
.cancelButton {
  height: 18%;
  position: relative;
  top: 6%;
  border: 1px solid rgba(201, 0, 22, 0.9);
  width: 42%;
  letter-spacing: 1px;
  background-color: rgba(38, 38, 38, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 12%;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}
.cancelButton:hover {
  border: 1px rgba(201, 0, 22, 0.9) solid;
  background-color: rgba(201, 0, 22, 0.6);
}
.cancelActiveDriver {
  border: 2px rgba(37, 158, 102, 0.5) solid;
  border-top: none;
  height: 100%;
  width: 20%;
  position: absolute;
  left: -25%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: 25px;
  font-family: "Scada", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10%;
  box-shadow: 2px 0px 25px -10px rgba(255, 255, 255, 1);
  background-color: rgba(38, 38, 38, 0.9);
  transition: 1s;
}

.warningCard {
  height: 90%;
  width: 47%;
  position: absolute;
  top: 7px;
  left: 26%;
  border: 2px rgba(201, 0, 22, 0.9) double;
  border-radius: 3%;
  background-color: rgba(38, 38, 38, 0.9);
  box-shadow: 2px 0px 25px -10px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.warningText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}
.warningText p {
  font-size: 15px;
}
.areYouSureContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
