/* .cardsContainer {
  height: 40%;
  width: 50%;
  top: 20%;
  left: 31%;
  border-left: 3px solid rgba(38, 169, 108, 0.9);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: rgba(38, 38, 38, 0.9);
} */
.cardsContainer {
  height: 39%;
  width: 65%;
  top: 13%;
  left: 19%;
  border-left: 3px solid rgba(38, 169, 108, 0.9);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: rgba(38, 38, 38, 0.9);
  animation: toGreenBar 2s;
  transition: ease-in-out 1.5s;
  overflow: hidden;
}
.upperInfo {
  /* border: 1px white solid; */
  height: 36vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #ffffff;
  font-weight: 500;
  padding-top: 3%;
  overflow: hidden;
}
.headerTitle {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  overflow: hidden;
}
.headerTitle2 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.geauxfurText {
  width: 20%;
  height: 15%;
  margin: 0px 11px;
  overflow: hidden;
}
.subHeaderDash {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  overflow: hidden;
}

.searchBarDash {
  background-color: rgba(242, 242, 242, 0.9);
  height: 25%;
  width: 50%;
  margin: 15px;
  border: 1px solid rgb(33, 34, 34);
  color: rgb(38, 38, 38);
  font-size: 14px;
  letter-spacing: 0.21px;
  text-align: start;
  outline: none;
  padding-left: 3%;
  font-weight: 600;
  border-radius: 10px;
}

.questionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.questionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 1s;
}
.heavyQuestion {
  height: 25%;
  width: 50%;
  margin: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  letter-spacing: 0.21px;
  text-align: center;
  outline: none;
  padding-left: 3%;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.questionButton {
  width: 20%;
  height: 50%;
  border: 1px solid rgba(38, 169, 108, 0.8);
  background-color: rgba(38, 38, 38, 0.8);
  color: rgba(38, 169, 108, 0.8);
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 20;
  margin: 3%;
  transition: 0.2s;
}
#firstQuestion {
  position: absolute;
  right: 6%;
  height: 12%;
  width: 15%;
  top: 57%;
  transition: 0.4s;
}
.questionButton:hover {
  background-color: rgba(38, 169, 108, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#finalButton {
  width: 20%;
  height: 34%;
  border: 1px solid rgba(38, 169, 108, 0.8);
  background-color: rgba(38, 38, 38, 0.8);
  color: rgba(38, 169, 108, 0.8);
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 20;
  margin: 0%;
  transition: 0.4s;
}
#finalButton:hover {
  box-shadow: 6px -2px 35px -10px rgba(38, 169, 108, 0.5);
  border: 1px solid rgba(38, 169, 108);
  color: rgba(38, 169, 108);
}
.totalCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
  font-size: 25px;
}
.totalCard div {
  overflow: hidden;
}
.totalCard p {
  font-size: 25px;
}
.distanceTotal {
  font-size: 55px;
  display: flex;
  flex-direction: column;
}
.totalPrice {
  font-size: 55px;
  display: flex;
  flex-direction: column;
}
.hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 0;
  display: none;
}

.fillerDiv {
  height: 60px;
}
.categoryContainer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
