.categoryIcon {
  width: 50%;
  filter: invert(50%);
}
#totalPage {
  width: 12%;
}
@media (max-width: 1600px) {
  .categoryIcon {
    width: 70%;
  }
}
@media (max-width: 950px) {
  .categoryIcon {
    width: 100%;
  }
}
