.mapboxgl-ctrl-geocoder {
  height: 100% !important;
  width: 100% !important;
  border: 1px none rgb(33, 34, 34) !important;
  color: rgb(38, 38, 38) !important;
  font-size: 14px !important;
  letter-spacing: 0.21px !important;
  text-align: start !important;
  outline: none !important;
  padding-left: 3% !important;
  font-weight: 600 !important;
  overflow: hidden;
  border-radius: 10px !important;
  cursor: default;
  z-index: 15;
}

.mapboxgl-ctrl-geocoder-hide {
  display: none !important;
}
.mapboxgl-ctrl-geocoder input {
  background-color: rgba(242, 242, 242, 0.9) !important;
  height: 13% !important;
  width: 89% !important;
  margin: 15px !important;
  border: 1px solid rgb(33, 34, 34) !important;
  color: rgb(38, 38, 38) !important;
  font-size: 14px !important;
  letter-spacing: 0.21px !important;
  text-align: start !important;
  outline: none !important;
  padding-left: 3% !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  z-index: 15;
}
.mapboxgl-ctrl-top-right {
  top: 35.6% !important;
  right: 30.2% !important;
  width: 37% !important;
  height: 28.5% !important;
  z-index: 15 !important;
  overflow: hidden !important;
  padding-left: 2% !important;
}
@media (max-width: 1900px) {
  .mapboxgl-ctrl-top-right {
    right: 33.2% !important;
  }
}
@media (max-height: 950px) {
  .mapboxgl-ctrl-top-right {
    top: 34.6% !important;
  }
}

@media (max-height: 930px) {
  .mapboxgl-ctrl-top-right {
    top: 33.6% !important;
  }
}
@media (max-height: 900px) {
  .mapboxgl-ctrl-top-right {
    top: 32.6% !important;
  }
}
@media (max-height: 870px) {
  .mapboxgl-ctrl-top-right {
    top: 31.6% !important;
  }
}
@media (max-height: 840px) {
  .mapboxgl-ctrl-top-right {
    top: 30.6% !important;
  }
}
/* @media (max-height: 813px) {
  .mapboxgl-ctrl-top-right {
    right: 78.2% !important;
    width: 17% !important;
    height: 20.5% !important;
    top: 29.8% !important;
    z-index: 4;
  }
} */
@media (max-height: 810px) {
  .mapboxgl-ctrl-top-right {
    top: 29.6% !important;
  }
}
@media (max-height: 790px) {
  .mapboxgl-ctrl-top-right {
    top: 28.6% !important;
  }
}
@media (max-height: 760px) {
  .mapboxgl-ctrl-top-right {
    top: 27.6% !important;
  }
}
@media (max-height: 730px) {
  .mapboxgl-ctrl-top-right {
    top: 26.6% !important;
  }
}

@media (max-height: 700px) {
  .mapboxgl-ctrl-top-right {
    top: 25.6% !important;
  }
}

@media (max-height: 670px) {
  .mapboxgl-ctrl-top-right {
    top: 24.6% !important;
  }
}
@media (max-height: 650px) {
  .mapboxgl-ctrl-top-right {
    top: 23.6% !important;
  }
}
@media (max-height: 630px) {
  .mapboxgl-ctrl-top-right {
    top: 22.6% !important;
  }
}
@media (max-height: 600px) {
  .mapboxgl-ctrl-top-right {
    top: 21.6% !important;
  }
}
@media (max-height: 570px) {
  .mapboxgl-ctrl-top-right {
    top: 20.6% !important;
  }
}
@media (max-height: 550px) {
  .mapboxgl-ctrl-top-right {
    top: 19.6% !important;
  }
}
@media (max-height: 510px) {
  .mapboxgl-ctrl-top-right {
    top: 18.6% !important;
  }
}
@media (max-width: 1800px) {
  .mapboxgl-ctrl-top-right {
    right: 36.2% !important;
    width: 34% !important;
  }
}
@media (max-width: 1720px) {
  .mapboxgl-ctrl-top-right {
    right: 39.2% !important;
    width: 31% !important;
  }
}
@media (max-width: 1650px) {
  .mapboxgl-ctrl-top-right {
    right: 42.2% !important;
    width: 27% !important;
    top: 35% !important;
  }
}
@media (max-width: 1606px) {
  .mapboxgl-ctrl-top-right {
    right: 32.2% !important;
    width: 33% !important;
    top: 35.4% !important;
  }
}
@media (max-width: 1540px) {
  .mapboxgl-ctrl-top-right {
    right: 36.2% !important;
    width: 30% !important;
  }
}
@media (max-width: 1445px) {
  .mapboxgl-ctrl-top-right {
    right: 39.2% !important;
    width: 27% !important;
  }
}
@media (max-width: 1380px) {
  .mapboxgl-ctrl-top-right {
    right: 42.2% !important;
    width: 24% !important;
  }
}
@media (max-width: 1310px) {
  .mapboxgl-ctrl-top-right {
    right: 43.2% !important;
    width: 31% !important;
  }
}
@media (max-width: 1280px) {
  .mapboxgl-ctrl-top-right {
    right: 33.2% !important;
    width: 29% !important;
  }
  .sideNav {
    height: 40vh;
  }
  .homeIcon,
  .profileIcon,
  .messagesIcon,
  .paymentIcon,
  .historyIcon,
  .safetyIcon {
    margin: 0px 7px;
  }
  .logo {
    height: 80%;
    margin: 0px 0px 0px 4px;
  }
}
@media (max-width: 1250px) {
  .mapboxgl-ctrl-top-right {
    right: 46.2% !important;
    width: 27% !important;
  }
}
@media (max-width: 1200px) {
  .mapboxgl-ctrl-top-right {
    right: 49.2% !important;
    width: 24% !important;
    top: 35.2% !important;
  }
}
@media (max-width: 1150px) {
  .mapboxgl-ctrl-top-right {
    right: 51.2% !important;
    width: 22% !important;
  }
}
@media (max-width: 1100px) {
  .mapboxgl-ctrl-top-right {
    right: 54.2% !important;
    width: 22% !important;
    top: 35.3% !important;
  }
}
@media (max-width: 1060px) {
  .mapboxgl-ctrl-top-right {
    right: 55.2% !important;
    width: 22% !important;
    top: 35% !important;
  }
}
@media (max-width: 1030px) {
  .mapboxgl-ctrl-top-right {
    right: 32.2% !important;
    width: 36% !important;
    top: 35% !important;
  }
}
@media (max-width: 1000px) {
  .mapboxgl-ctrl-top-right {
    right: 56.2% !important;
    width: 24% !important;
  }
}
@media (max-width: 970px) {
  .mapboxgl-ctrl-top-right {
    right: 58.2% !important;
    width: 27% !important;
    top: 35% !important;
  }
}
@media (max-width: 930px) {
  .mapboxgl-ctrl-top-right {
    right: 60.2% !important;
    width: 25% !important;
  }
}
@media (max-width: 900px) {
  .mapboxgl-ctrl-top-right {
    right: 61.2% !important;
    width: 23% !important;
  }
}
@media (max-width: 860px) {
  .mapboxgl-ctrl-top-right {
    right: 64.2% !important;
    width: 22% !important;
    top: 35% !important;
  }
}
@media (max-width: 800px) {
  .mapboxgl-ctrl-top-right {
    right: 65.2% !important;
    width: 25% !important;
    top: 35% !important;
  }
}
@media (max-width: 770px) {
  .mapboxgl-ctrl-top-right {
    right: 67.2% !important;
    width: 21% !important;
    top: 34.9% !important;
  }
}
@media (max-width: 660px) {
  .mapboxgl-ctrl-top-right {
    right: 69.2% !important;
  }
}
@media (max-width: 620px) {
  .mapboxgl-ctrl-top-right {
    right: 70.2% !important;
  }
}
@media (max-width: 580px) {
  .mapboxgl-ctrl-top-right {
    right: 71.2% !important;
    top: 34.8% !important;
  }
}
@media (max-width: 565px) {
  .mapboxgl-ctrl-top-right {
    top: 36.8% !important;
  }
}
@media (max-width: 550px) {
  .mapboxgl-ctrl-top-right {
    right: 72.2% !important;
    width: 20% !important;
  }
}
@media (max-width: 530px) {
  .mapboxgl-ctrl-top-right {
    right: 71.2% !important;
    width: 23% !important;
    top: 36.8% !important;
  }
}
@media (max-width: 475px) {
  .mapboxgl-ctrl-top-right {
    right: 73.2% !important;
    width: 21% !important;
  }
}
@media (max-width: 445px) {
  .mapboxgl-ctrl-top-right {
    right: 14.2% !important;
    width: 66% !important;
    height: 22.5% !important;
    top: 37.8% !important;
  }
}

.mapboxgl-ctrl-geocoder ul > li > a:hover {
  color: #259e66 !important;
  background-color: black !important;
  cursor: pointer;
}
.mapboxgl-ctrl-geocoder ul > li.active > a {
  color: #202020;
  text-decoration: none;
  cursor: pointer;
}
.mapboxgl-ctrl-geocoder ul > li > a {
  color: white !important;

  letter-spacing: 2px !important;
  margin-left: 15px;
  overflow: hidden !important;
}
.geocoder-pin-right {
  display: none !important;
}
