.paymentOuter {
  background-color: rgba(38, 38, 38, 0.1);
  height: 7.3vh;
  display: flex;
  justify-content: center;
  width: 12vw;
}

.StripeCheckout {
  background: rgba(38, 38, 38, 0.1) !important;
  border-radius: 12px !important;
  border: 1px solid rgb(0, 0, 0) !important;
  display: flex !important;
  justify-content: center !important;
  width: 75% !important;
}

.StripeCheckout span {
  background-image: none !important;
  font-family: "Scada", sans-serif !important;
  text-align: center !important;
  font-size: 17px !important;
  display: flex !important;
  align-items: center !important;
  color: rgb(60, 179, 113) !important;
  box-shadow: rgba(38, 169, 108, 0.25) 0px 1px 0px inset !important;
  height: 72px !important;
  letter-spacing: 2px !important;
}
@media (max-width: 1280px) {
  .StripeCheckout span {
    font-size: 14px !important;
    height: 50px !important;
  }
}
@media (max-width: 425px) {
  .paymentOuter {
    position: absolute;
    top: 68%;
    right: 50%;
    height: 9.3vh;
    width: 41vw;
  }
  .StripeCheckout span {
    font-size: 15px !important;
    letter-spacing: 1px !important;
  }
}
